:root {
  --accent-color: #f69906;
  --gray-color: #9f9f9f;
  --black-color: #313131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--accent-color);
}

.calculator {
  background-color: black;
  width: 35em;
  height: 55em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3em;
  border: 1em solid var(--black-color);
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.calculator .display {
  margin-right: 3.65em;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: end;
}

.calculator .display .full-operation {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 2em;
}

.calculator .display .current-number {
  display: flex;
  justify-content: end;
  align-items: center;
  min-height: 1.5em;
  font-size: 4em;
}

.calculator .buttons {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
  font-size: 3em;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.25em;
  min-width: 100px;
  min-height: 100px;
  background-color: var(--black-color);
  cursor: pointer;
  user-select: none;
  transition: all 0.1s;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  transform: scale(110%);
}

.button.operator {
  background-color: var(--accent-color);
}

.button.extra-operator {
  background-color: var(--gray-color);
  color: black;
}

#zero {
  grid-column: 1 / 3;
  border-radius: 1em;
  justify-content: flex-start;
  padding-left: 0.75em;
}

.error {
  color: var(--accent-color);
}

@media (max-width: 600px) {
  .calculator {
    width: 25em;
    height: 45em;
  }

  .calculator .display {
    margin-right: 2.5em;
  }

  .calculator .display .current-number {
    font-size: 2.75em;
  }

  .calculator .buttons {
    gap: 0.4em;
  }

  .button {
    min-width: 0;
    min-height: 0;
    width: 1.75em;
    height: 1.75em;
    font-size: 0.8em;
  }

  #zero {
    padding-left: 0.5em;
    min-width: 4.2em;
  }
}